.container {
	display: grid;
	margin: 0;
	padding: 0;
	grid-template-columns:repeat(12, 1fr);
}

li button{
	font-family: "Slim Joe";
	color: white;
	background-color: rgba(0,0,0,0);
	font-size: 12px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding : 10px 20px;
	border-color: rgba(0,0,0,0);
	border-width: 0,5px;
	width: auto;
}

li button:focus{
	border-color: rgba(255,255,255,1);
	outline:0;
}

.categories {
	grid-column: 1/4;
	background-color: #442529;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 80vh;
}


#d1, #d2, #d3, #d4, #d5{
	display:none;
	overflow-x: scroll;
	height: 80vh;
	grid-column: 5/12;
	overflow-x: hidden;
}

#d1{
	display: grid;
	grid-column: 5/13
}

li {
	list-style: none;
	border-top-color: white;
	border-top-style: solid;
	border-top-width: 1px;
	width: 210px;
	display: flex;
	align-items: center;
	justify-content: center;
}

ul li:nth-child(-n + 2){
	border-style: none;
}

table {
	width: 100%;
}

.categories li a {
	color: white;
	text-decoration: none;
	font-family: "Slim Joe";
	font-size: 18px;
	text-align: center;
	margin-bottom: 70px;

}

form {
	margin-top: 100px;
}

form div {
	padding-top: 25px;
}

input, textarea{
	font-family: 'MADE Canvas Regular';
	font-size: 15px;
	padding: 8px;
	border: 0px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
    width:100%;

}

textarea{ 
     width: 100%;
     -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
     -moz-box-sizing: border-box;    /* Firefox, other Gecko */
     box-sizing: border-box;         /* Opera/IE 8+ */
}

input.bouton {
	padding-right: 30px;
	padding-left: 30px;
	margin-bottom: 15px;
}

