/*DISPOSTION DES ELEMENTS*/
 
.container {
	margin-left: 100px;
	margin-right: 100px;
	display: grid;
	grid-column-gap: 30px;
	grid-template-columns: repeat(12, 1fr);
}

.container p {
	grid-column: 2/9;
}

.container h1 {
	grid-column: 3/11;
}

.container h2, h3 {
	grid-column: 2/12;
	line-height: 150%;
}

.container h4 {
	grid-column: 2/11;
	line-height: 150%;
}

/*IMAGE*/

img {
	grid-column: 4/11;
	width: 44vw;
}

.like {
	width: 3%;
}
.nbLike {
	font-family: 'MADE Canvas Regular';
	font-size: 30px;
	vertical-align: middle;
}

a {
	grid-column: 1/12;
	height: 0px;
}

/*TEXTE*/

p.date {
	grid-column: 3/11;
	text-align: center;
	color: white;
	margin-top: -50px;
}

h1 /*TITRES*/{
	text-align: center;
	font-family: 'Big John';
	font-size: 50px;
	margin-top: 0px;
}

h2 /*CHAPPOS*/ {
	text-align: center;
	font-family: 'MADE Canvas Regular';
	font-size: 30px;
}

h3 /*SS-TITRES*/ {
	font-family: 'MADE Canvas Black';
	font-size: 33px;
	margin-bottom: 15px;
}

h4 /*§ + CONCLUSION*/ {
	font-family: 'MADE Canvas Light';
	font-size: 22px;
	margin-top: 0px;
}

