/*DISPOSTION DES ELEMENTS*/
 
.container {
	margin-left: 100px;
	margin-right: 100px;
	display: grid;
	grid-column-gap: 30px;
	grid-template-columns: repeat(12, 1fr);
}

.container p {
	grid-column: 2/12;
}

.container h1 {
	grid-column: 3/11;
}

.container h2, h3 {
	grid-column: 2/12;
	line-height: 150%;
}

.container h4 {
	grid-column: 2/11;
	line-height: 150%;
}

/*IMAGE*/

.illustration {
	grid-column: 4/11;
	width: 44vw;
	margin-top: 60px;
	border-color: black;
    border-style: solid;
}

.like {
	width: 3%;
}
.nbLike {
	font-size: 30px;
	vertical-align: middle;

}

/*TEXTE*/

.date {
	grid-column: 3/11;
	text-align: center;
	color: white;
	margin-top: -50px;
}

h1 /*TITRES*/{
	text-align: center;
	font-family: 'Big John';
	font-size: 50px;
	margin-top: 40px;
}

h2 /*CHAPPOS*/ {
	text-align: center;
	font-size: 20px;
}

h3 /*SS-TITRES*/ {
	font-size: 25px;
	margin-bottom: 15px;
}

h4 /*§ + CONCLUSION*/ {
	font-size: 20px;
	margin-top: 0px;
}

p /*§ + CONCLUSION*/ {
	font-size: 18px;
	margin-top: 0px;
}

/*TRIO*/

.trio {
	display: flex;
	justify-content: space-between;
}

.trio + a {
	display: flex;
	justify-content: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

div.trio div {
    text-align: center;
	border-color: black;
    border-style: solid;
    height: 20vw;
    width: 20vw;
    overflow: hidden;
}
div.trio div h4 {
	font-family: 'Big John';
	font-size: 20px;
	text-align: left;
	color: white;
	position: relative;
	vertical-align: bottom;
	margin-top: -60px;
    margin-left: 10px;
}
div.trio div a img {
	max-height: 100%;
    width: auto;
    text-align: center;
}
div.trio a {
	filter: brightness(0.80);
}

#art_last {
	grid-column: 2/12;
	margin-top: 80px;
}

#comments {
	grid-column: 3/11;
	margin-top: 50px;
	line-height: 100%;
}

.comment :nth-child(1){
	border-style: solid;
	border-color: black;
	border-width: 1px;
	padding: 10px 10px;
	margin-bottom: 2px;
	font-size: 17px;
}

.comment :nth-child(2){
	font-size: 15px;
	padding-left: 40vw;

}

#comments h4{
	margin-bottom: 10px;
}
