@font-face {
	font-family: 'Big John';
	font-style: normal;
	font-weight: normal;
	src: url('Big John.woff') format('woff');
}
@font-face {
    font-family: 'Slim Joe';
    font-style: normal;
    font-weight: normal;
    src: local('Slim Joe Regular'), url('Slim Joe.woff') format('woff');
}
@font-face {
    font-family: 'MADE Canvas Regular';
    font-style: normal;
    font-weight: normal;
    src: local('MADE Canvas Regular'), url('MADE Canvas Regular PERSONAL USE.woff') format('woff');
}
@font-face {
    font-family: 'MADE Canvas Light';
    font-style: normal;
    font-weight: normal;
    src: local('MADE Canvas Light'), url('MADE Canvas Light PERSONAL USE.woff') format('woff');
}
@font-face {
    font-family: 'MADE Canvas Black';
    font-style: normal;
    font-weight: normal;
    src: local('MADE Canvas Black'), url('MADE Canvas Black PERSONAL USE.woff') format('woff');
}

body {
	background-image: url("../png/background.jpg");
	margin: 0px;
	background-color: #F8F8F8;
	background-attachment:fixed;
	background-size: cover;
}

nav {
	height: 5vw;
	background-image: url("../png/fond_nav.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 0px;
	margin-bottom: 100px;
	
}

footer {
	height: 80px;
	background-image: url("../png/fond_nav.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.logo {
	 grid-column: 4/9;
	 position: relative;
	 width: 500px;
	 margin-top: -200px;
	 margin-bottom: 25px;
}

input {
	grid-column: 10/13;
	font-family: 'MADE Canvas Regular';
	font-size: 20px;
	padding: 8px;
	border: 0px;
    margin-top: -50px;
    margin-bottom: 50px;
}

/*TABLEAUX*/

tr:nth-child(even) {
	background: #CCC;
}

tr:nth-child(odd) {
	background: #FFF;
}

tr {
    border-top: 1px;
    border-top-style: solid;
    border-color: black;
    border-width: 1px;
}

table {
	border-collapse: collapse;
}

