/*DISPOSTION DES ELEMENTS*/
 
.container {
	margin-left: 100px;
	margin-right: 100px;
	display: grid;
	grid-column-gap: 30px;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(4, 500px);
}

.head {
	margin-left: 100px;
	margin-right: 100px;
	display: grid;
	grid-column-gap: 30px;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(1, 0px);	
}

#last_art {
	grid-column: 2/12;
	grid-row: 1;
}
#last_art div {
	display: flex;
}

#art_popu {
	grid-column: 2/12;
	grid-row: 2;
}

#events {
	grid-column: 2/12;
	grid-row: 3;
}

#portraits {
	grid-column: 2/12;
	grid-row: 4;
}

.trio {
	display: flex;
	justify-content: space-between;
}

.trio + a {
	display: flex;
	justify-content: center;
}

div.trio div {
    text-align: center;
	border-color: black;
    border-style: solid;
    height: 300px;
    width: 300px;
}
div.trio div h4 {
	font-family: 'Big John';
	font-size: 20px;
	text-align: left;
	color: white;
	position: relative;
	vertical-align: bottom;
	margin-top: -60px;
    margin-left: 10px;
}
div.trio div a img {
	max-height: 100%;
    width: auto;
    text-align: center;
}
div.trio a {
	filter: brightness(0.80);
}

h1 /*TITRES*/{
	grid-row: 9/12;
	text-align: left;
	font-family: 'Big John';
    width: 30%;
	font-size: 50px;
	margin-top: 0px;
}

h2 {
	font-family: 'Big John';
	font-size: 50px;
	margin-bottom: 70px;
}

h4 {
	z-index:10;
}

img {
	width: 100%;
}

.last_art {
	grid-row: 2/8;
}
